.app-html {
    /* font-family: 'Fjalla One', sans-serif;
    font-family: 'Josefin Sans', sans-serif; */
    width: 100%;
    height: 100%;
}

.app-body {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
}

.canvas-container {
    /* ゼットインデックス３ */
    position: absolute;
    width: 95%;
    height: 95%;
    z-index: 3; 
    top: 0;
}

#suffix {
    margin-left: 5%;
    padding: 5% 0;
    font-size: 40px;
}

/* .keyboard-background {
    background-color: rgba(0, 0, 0, 0.5);
} */

#key-input2 {
    margin-top: 7%;
    color: white;
}

.input_2 {
    display: flex;
}

.key-input {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.keyboard {
    /* ゼットインデックス４ */
    /* ６３と６４のコメントアウトは解除すること！ */
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    /*transition: 
    visibility 0.4s 0.4s,
    opacity 0.4s ease-in; */
    
}

.keyboard-show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in;
}

/* #js-canvas-container,#starname_2 {
    background-color:antiquewhite;
    position: relative;
} */

.ripple{
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    border-radius: 50%;
    /* background-color: #ffffff; */
    background: rgb(255,255,255);
    background: linear-gradient
                (90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 35%, rgba(255,255,255,0) 100%);
    z-index: 6;
    pointer-events: none;
  
    animation-name: rippleEffect;
    animation-duration: .5s;
    animation-fill-mode:none;
  }
  
  @keyframes rippleEffect {
    0% {
        opacity:1;
        width: 0px;
        height: 0px;
        border: none;
    }

    40% {
      opacity: .3;
    }

    100% {
      opacity:0;
      width: 100px;
      height: 100px;
      transform:translateX(-50px) translateY(-50px);
    }
}

html{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
main{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.inputstyle {
    padding: 5% 10%;
    border-radius: 10px;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 10px 1px #FAFF00;
    color: white;
    font-size: 25px;
}

canvas{
    display: block;
}

.outer {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
   
ul {
    list-style: none;
    padding: 0;
  }


.name_button {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.change {
    /* ゼットインデックス１ */
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; 
    top: 0;
}

.start{
    /* ゼットインデックス６ */
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    top: 0;
}
.start_backimage {
    /* ゼットインデックス１ */
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
}

.start_a {
    /* ゼットインデックス２ */
    justify-content: center;
    position: absolute;
    z-index: 2; 
    top: 51%;
    left: 50%;
    translate: -50%;
}

.start_b {
    /* ゼットインデックス２ */
    justify-content: center;
    position: absolute;
    z-index: 2; 
    top: 68%;
    left: 50%;
    translate: -50%;
}

.save {
    /* ゼットインデックス２ */
    background-image: url('save.png');
    background-size: 100% 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; 
    top: 0;
}

.save_inner{
    position: absolute;
    width: 100%;
    top: 50%;
    translate: 0 -50%;
}

.save_title{
    justify-content: center;
    text-align: center;
    font-size: 120%;
    /* position: absolute; */
    color: white;
    z-index: 2;
    margin-bottom: 3%;
    top: 15%;
    left: 40%;
}

.save_contents{
    /* ゼットインデックス２ */
    display: flex;
    justify-content: center;
    /* position: absolute; */
    width: 100%;
    color: white;
    z-index: 2;
    top: 0;
    right: 0;
}


.save_title2{
    /* justify-content: center; */
    /* font-size: 30%; */
    width: 30%;
    color: white;
    font-size: 28px;
    margin-top: 7%;
    
    /* z-index: 2;
    top: 80%;
    right: 13%; */
}

.save_seiza{
    width: 40%;
    margin-right: 8%;
    border: solid;
    border-color: #FFF;
    /* z-index: 2; */
}

/* .save_qr{
    width: 100%;
    z-index: 2; 
     top: 39%;
    right: 15%;
} */

.text_2{
    text-align: center;
}

.timer {
    /* ゼットインデックス５ */
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-image: conic-gradient(#ff6161 0deg, #ccc 0deg);
    position: absolute;
    top: 3%;
    left: 92%;
    z-index: 5;
  }

.a-button {
    background-image: url('button/a.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
} 
  
.i-button {
    background-image: url('button/i.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
} 

.u-button {
    background-image: url('button/u.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
} 

.e-button {
    background-image: url('button/e.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
} 

.o-button {
    background-image: url('button/o.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ka-button {
    background-image: url('button/ka.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.ki-button {
    background-image: url('button/ki.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ku-button {
    background-image: url('button/ku.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ke-button {
    background-image: url('button/ke.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ko-button {
    background-image: url('button/ko.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.sa-button {
    background-image: url('button/sa.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.si-button {
    background-image: url('button/si.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.su-button {
    background-image: url('button/su.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.se-button {
    background-image: url('button/se.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.so-button {
    background-image: url('button/so.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ta-button {
    background-image: url('button/ta.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.ti-button {
    background-image: url('button/ti.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.tu-button {
    background-image: url('button/tu.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.te-button {
    background-image: url('button/te.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.to-button {
    background-image: url('button/to.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.na-button {
    background-image: url('button/na.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.ni-button {
    background-image: url('button/ni.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.nu-button {
    background-image: url('button/nu.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ne-button {
    background-image: url('button/ne.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.no-button {
    background-image: url('button/no.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ha-button {
    background-image: url('button/ha.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.hi-button {
    background-image: url('button/hi.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.hu-button {
    background-image: url('button/hu.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.he-button {
    background-image: url('button/he.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ho-button {
    background-image: url('button/ho.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ma-button {
    background-image: url('button/ma.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.mi-button {
    background-image: url('button/mi.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.mu-button {
    background-image: url('button/mu.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.me-button {
    background-image: url('button/me.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.mo-button {
    background-image: url('button/mo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ya-button {
    background-image: url('button/ya.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.yu-button {
    margin-top: 110%;
    background-image: url('button/yu.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.yo-button {
    margin-top: 110%;
    background-image: url('button/yo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px ;
    border: none;
    margin-top: 15px;
}

.ra-button {
    background-image: url('button/ra.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.ri-button {
    background-image: url('button/ri.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ru-button {
    background-image: url('button/ru.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.re-button {
    background-image: url('button/re.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.ro-button {
    background-image: url('button/ro.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.wa-button {
    background-image: url('button/wa.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
}

.wo-button {
    margin-top: 110%;
    background-image: url('button/wo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.n-button {
    margin-top: 110%;
    background-image: url('button/nn.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.mojikesi-button {
    background-image: url('button/mojikesi.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 133px;
    height: 108px;
    border: none;
    margin-top: 1px;
}

.dakuten-button {
    background-image: url('button/daku.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-left: 30px;
    margin-top: 2px;
}

.handakuten-button {
    background-image: url('button/handaku.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    border: none;
    margin-left: 30px;
    margin-top: 15px;
}

.komoji-button {
    background-image: url('button/komoji.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 195px;
    height: 92px;
    border: none;
    margin-top: 15px;
}

.nobasi-button {
    background-image: url('button/nobasi.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 92px;
    height: 92px;
    margin-left: 30px;
    border: none;
    margin-top: 15px;
}

/* .kettei-button {
    background-image: url('button/kettei.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 125px;
    height: 92px;
    border: none;
    bottom: 0;
    margin-left: 40px;
}

.hozon-button{
    display: flex;
    align-items: flex-end;
} */